<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">Providers</h1>
    </div>
    <div class="card-body">
      <p class="card-text">Providers.</p>

      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Endpoint</th>
            <th>Status</th>
            <th>Weight</th>
            <th>Log count</th>
          </tr>
        </thead>
        <tbody>
          <% @providers.each do |provider| %>
            <tr>
              <td><%=provider.id %></td>
              <td><%=provider.endpoint %></td>
              <td><%=provider.status %></td>
              <td><%=provider.weight %></td>
              <td><%=provider.activity_logs.count %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td>&nbps;</td>
          </tr>
        </tfoot>
      </table>
      <%= render "layouts/coming_soon" %>
    </div>
  </div>
</div>
