<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">Providers</h1>
    </div>
    <div class="card-body">
      <h3 class="card-text">Providers.</h3>

      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Endpoint</th>
            <th>Status</th>
            <th>Weight</th>
            <th>Log count</th>
            <th>Created</th>
            <th>Last updated</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @providers.each do |provider| %>
            <tr>
              <td><%=provider.id %></td>
              <td><%=provider.endpoint %></td>
              <td><%=provider.status %></td>
              <td><%=provider.weight %></td>
              <td><%=provider.activity_logs.count %></td>
              <td><%=l provider.created_at, format: :short %></td>
              <td><%=l provider.updated_at, format: :short %></td>
              <td>
                <% link_to("Show", provider_path(provider)) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
