<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">Phones</h1>
    </div>
    <div class="card-body">
      <h3 class="card-text">Phones that have sent messages.</h3>

      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Number</th>
            <th>Status</th>
            <th>Msg Count</th>
            <th>First Used</th>
            <th>Last Updated</th>
            <tn></tn>
          </tr>
        </thead>
        <tbody>
          <% @phones.each do |phone| %>
            <tr>
              <td><%=phone.id %></td>
              <td><%=phone.number %></td>
              <td><%=phone.status %></td>
              <td><%=phone.messages.count %></td>
              <td><%=l phone.created_at, format: :short %></td>
              <td><%=l phone.updated_at, format: :short %></td>
              <td>
                <%= link_to("Show", phone_path(phone)) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
