<!DOCTYPE html>
<html>
  <head>
    <title>TextServiceExample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://kit.fontawesome.com/25eb4d9fa8.js" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <%= render "layouts/header" %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= yield %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= render "layouts/footer" %>
        </div>
      </div>
    </div>
    <%= render "layouts/sent_a_message_modal" %>
  </body>
</html>
